<section id="main-content">
  <section class="wrapper">
    <h3 id="form-tittle"><i class="fa fa-angle-right"></i> Editar Anuncio</h3>

    <!-- BASIC FORM ELELEMNTS -->


    <%= render 'form' %>

    <%= link_to 'Show', @advert %>

    <br>
    <br>
    <br>
    <br>
    <br>
  </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->